<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 BAju, LLC. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Baju_Frontcontroller::general">
                        <resource id="Baju_Frontcontroller::front" title="Manage Front" translate="title" sortOrder="800"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
